In [59]:
import pandas as pd

In [93]:
df = pd.read_csv("zadanie1.csv")
df

   Unnamed: 0  Fertility rate  Life expectancy at birth
0          x1           1.300                  76.84878
1          x2           1.950                  81.40732
2          x3           2.466                  77.57895
3          x4           1.600                  74.16341
4          x5           2.952                  68.84907
5          x6           1.801                  73.88595
6          x7           1.340                  75.26829
7          x8           1.340                  76.26098
8          x9           1.630                  80.57244
9         x10           2.326                  65.46259
10        x11           2.436                  67.54820
11        x12           6.563                  55.02451
12        x13           1.283                  76.27990
13        x14           1.430                  82.29024
14        x15           1.988                  69.80695
15        x16           1.610                  81.40112
16        x17           1.921                  82.19756
17        x18           2.400                  74.22683
18        x19           1.495                  80.12888
19        x20           4.705                  45.55095

In [89]:
df.columns

Index(['Counter', 'Fertility rate', 'Life expectancy at birth'], dtype='object')

In [87]:
df['Fertility rate'].corr(df['Life expectancy at birth'])

-0.8204930122649573